.ui-page {
  background-image: url("../img/bck.png");
  background-size: cover;
  color: white !important;
  text-shadow: 0px 0px #FFFFFF !important;
}

#position {
  width:100%;
  text-align: center;
}

#oculto {
  display: none;
}

#tabla {
  height: 20% !important;
  max-height: 50% !important;
  overflow: scroll !important;
  background-color: red;
}
